
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
  
}

html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth 10s;
}
.navbar{
    font-weight: bold;
    font-family: sans-serif;
  

}


.logo-box{
    position: absolute;
    content: "";
    background: linear-gradient( to top left, orange ,orangered);
    height: 150px;
    width: 150px;
    margin-top: -30px;
    margin-left: -28px;
}
.inner-box{
    border: solid white 2px;
    width: 70px;
    height: 70px;
    margin-top: 35px;
    margin-left: 35px;
}

 .box-content{
    color: white;
    margin-top: 15px;
    
    
 }
.box-content li{
    list-style: none;
    margin-left:20px;
    text-decoration: solid ;
    font-weight: bold;
    font-style: italic;
    
    
    
}
.box-content ul{
    margin-left: 0;
    margin-top: 0;
}


.navbar-container{
    background-color: rgba(255, 228, 196, 0.552);
    display: flex;
    padding: 25px;

}

.lists{
    display: inline-flex;
    list-style: none;
    margin-left: 190px;
    margin-top: 12px;
    
    
    

}
.lists a{
    padding: 23px;
    color: black;
    text-decoration: none;
    transition: 0.6s;
    

}
.lists a:hover ,.myaccount a:hover{
    color:rgb(255, 140, 0);

}

.dropdown-menu{
    position:relative;
    display: inline-block;
    
    
    
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:white;
    min-width: 110px;
    z-index: 1;
     float: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
    border-top: solid red 3px;
   
    

}

.dropdown-content:hover{
    transition: 5s;
}
.dropdown-content a{
    color: black;
    display: block ;



}
.dropdown-content a:hover{
   margin-left: 10px;
   transform: scale(1);

}


.dropdown-menu:hover .dropdown-content{
    display: block;

    
}

.dropdown-menu2{
    position:relative;
    display: inline-block;
    
}

.dropdown-content2{
    display: none;
    position: absolute;
    background-color:white;
    min-width: 150px;
    z-index: 1;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
    border-top: solid red 3px;
    letter-spacing: 2px;
    

}

.dropdown-content2 a{
    color: black;
    display: block ;


}

.dropdown-content2 a:hover{
   margin-left: 12px;


}

.dropdown-menu2:hover .dropdown-content2{
    display: block;
    
}

input[type="text"]{
    margin-left: 150px;
    outline:none;
    border:none;
    background-color:rgba(255, 228, 196, 0);
    border-bottom: 1px solid black;
}



.myaccount{
    margin-left:100px;
}
.myaccount a{
 color: black;
 text-decoration: none;
 transition: 0.4s
}

.cart-icon{
    margin-left: 70px;
}

.home-page{
    background:url(images/furniture.jpg);
    background-size:1600px;
    height: 900px;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    
}

.home-container{
    background-color:  white;
    width: 570px;
    height: 500px;
    position: absolute;
    border: 1px solid white;
    margin-top:150px;
    margin-left: 150px;
    

}

.home-container h3{
    color: grey;
    margin-top: 60px;
    font-size: 30px;
    margin-left: 50px;
}

.home-container h1{
    color: black;
    font-size: 65px;
    margin-left: 50px;
    margin-top: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.home-container p{
    margin-left: 50px;
    margin-top: 30px;
    font-weight: bolder;
    font-family:"poppins",sans-serif;
    color: #646D77;
}
.home-container .btn{
    margin-left: 50px;
    margin-top: 30px;
    width:230px;
    height: 50px;
    background: linear-gradient(to top right,red,orange);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.4s linear;
    overflow: hidden;
    border: 0;
    position: relative;
    transition: 1s;
}



.homepage-footer{
    height: 60px;
    width: 100%;
    background-color: bisque;   
}

.section1{
    margin-top: 150px;
    
    
}



.section1,.heading{
    
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  font-family:"poppins",sans-serif;
  color: #1a1a1a;
  font-style: normal;
  letter-spacing: ;

}

.section1 p {
    font-family: "Poppins", sans-serif;
    color: #646D77;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
}
.select-bar{

margin-left: 540px;
margin-top: 0px;
margin-right: 480px;





}
.select-bar nav a{
   padding: 20px;
   color: black;
   font-family: sans-serif;
   text-decoration: none;
   font-weight: 300;
   background-color: white;
   border: 1px;
   letter-spacing: 1px;
   border-radius: 20px;
   z-index: 1;
   min-width: 2px;
   transition: 1s;
   
      
    }
 


.select-bar nav a:hover{
 background: linear-gradient( to right top,red, orange);
 margin-top: 
 
}

.line{
    width: 540px;
    height: 1px;
    border: solid black 2px;
    background-color: orange;
    margin-left: 490px;
    margin-top: 19px;
}


.products{
    display: flex;
    margin-top: 100px;
    margin-left: 35px;
    
}

.product1, .product2, .product3{
     
     margin-left: 30px;
     padding: 50px;
}
.products h3{
    font-weight: 500;
    font-size: 14px;
    display: block;
    line-height: 1.7;
    margin-bottom: 20px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-family: "Poppins", sans-serif;
    margin-left: 40px;
    letter-spacing: 2px;
    color: black ;
    text-decoration: underline transparent;


}
.products h2{
    text-align: center;
}


.tailer-details{
    margin-top:150px;
    display: flex;
    max-width: 98%;
    margin-left: 15px;
} 

.tailer-details .tailer-img{
    background-image: url(https://preview.colorlib.com/theme/furn/assets/img/gallery/visit_bg.png.webp);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 570px;
    width: 55%;
}

.tailer-offers{
    background: rgba(255, 228, 196, 0.692);
    background-size: cover;
    width: 45%;
}

.tailer-offers h2{
    font-size: 36px;
    display: block;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 120px;
    font-weight: 1000;
    margin-left: 50px;
}

.tailer-offers p{
    color: #010A44;
    line-height: 1.7;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #646D77;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
    margin-left: 50px;
    margin-top: 30px;

    
}

.tailer-offers button{
     width: 220px;
     height: 50px;
     margin-top: 40px;
     margin-left: 50px;
     background: linear-gradient(to top right,red, orange);
     box-shadow: 2px 0 0 2;
     transition: 1s;
}

.tailer-offers button:hover{
    background: linear-gradient(to top left,orange,red);
    transform: scale(1.050);

}

.container {
    margin-top: 100px;
    text-align: center;
}


.container h1{
    text-align: center;
    font-size: 35px;
}

.container p{
    text-align: center;
    margin-top: 30px;

}

.container-imgs{
    display: flex;
    margin-top: 100px; 
    justify-content: space-around ;   
}

.container button{
    text-align: center;
    margin-top: 80px;
    width: 250px;
    height: 50px;
    border: solid orange;
    background-color: white;
    color: orangered;
    transition: 1s;
}

.container button:hover{
    background-color: orangered;
    color: black;
    font-weight:bold;
    color:aliceblue;
}


.section2{
   
    display: flex;
    
}

.section2, .sec-img1{
    width: 1500px;
   
    text-align: center;
    
    
}
.section2, .sec-img1 img{
 margin-top: 100px;

 
}

.section2, .sec-img1 h1{
    margin-top: 50px;
}

.section2, .sec-img1 p{
    margin-top: 30px;
}

.section2 button{
    width: 230px;
    margin-top: 60px;
    color:orangered;
    border: solid orangered 2px;
    background-color: white;
    height: 50px;
    transition: 1s;
}

.section2 button:hover{
    background-color: orangered;
    color: white;
}

.services-container{
    margin-top: 100px;
    background:rgba(255, 228, 196, 0.415);
    width: 100%;
    height: 400px;
    
   
    
    
}
.services{
    display: inline-flex; 
    margin-left: 135px;
}

.free-delivery,.securepayment,.moneybackgarentee,.onlinesupport{
    width: 300px;
   
    height: 300px;
    margin-top: 110px;
    margin-left: 20px;  

}

.icon{
 margin-top: 60px;
 margin-left: 0px;
}

footer{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 400px;
    display: flex;
}

.logo-info{
margin-left: 95px;
margin-top: 50px;

}

.logo{
    
    
    border: solid orange 3px;
    width: 80px;
    height: 80px;
    color: orange;


}
.logo-contents{
    text-align: center;
    margin-top: 20px;
}

.logo-info p{
    color: aliceblue;
    margin-top: 30px;
}

.social-media{
    display: flex;
    margin-top: 30px;
    
}

.shape{
    border: solid orange 1px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: aliceblue;
    
}

.shape:nth-child(2){
    margin-left: 20px;
}
.shape:nth-child(3){
    margin-left: 20px;
}

svg{
    margin-top: 15px;
    margin-left: 15px;
}

.shape:hover:nth-child(1){
    background-color: rgb(73, 73, 252);
    color: black;
}
.shape:hover:nth-child(2){
    background-color: rgb(0, 112, 249);
    color: black;
}
.shape:hover:nth-child(3){
    background-color: red;
    color: black;
}

.info, .a1 {
 margin-top: 30px;
 margin-left: 150px;
 text-decoration: none;
}
.info, .a1:nth-child(2){
    margin-left: 0;
    
} 
.info, .a1 li a{
    color: aliceblue;
    letter-spacing: 1px;   
    text-decoration: none; 
    transition: 1s;
}

.info, .a1 li a:hover{
    color: orange;
}


/*media quairy*/

@media (min-width: 450px) and (max-width: 600px) {
  

}
  